.header{
    display: flex;
    margin: 30px;
}



.tabs{
    margin-top: 20px;
    margin-left: auto;

    padding-right: 15px;
}

a{
    margin: 5px;
    font-size: 18px;
    
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration:underline
}

.line{
    width: 90%; 
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    border-bottom: 3px solid black;
    
    
}